/*
Author: Joshua Abreu
Date: 3/7/21
File Name: styles.css
*/

/* CSS Reset */
body, header, nav, main, footer, img, h1, ul {
margin: 0;
padding: 0;
border: 0;
}

/* Style rule for images */
img {
max-width: 100%;
display: block;
}

/* Style rules for mobile viewport*/

/*Hide tab-desk class*/

.tab-desk {
 display: none;
 }

 .button {
   border: none;
   color: white;
   padding: 16px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   transition-duration: 0.4s;
   cursor: pointer;
 }

 .button1 {
  background-color: #990000;
  color: white;
  border: 2px solid Black;
  text-decoration: none;
}

.button1:hover {
  background-color: #E6E6E6;
  text-decoration: none;
  color: white;
}

.column {
  float: left;
  width: 33.33%;
  padding: 50px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Style rules for header content */
header {

text-align: center;
font-size: 1.5em;
color: #000000;
background-color: #cfcfcf;
font-family: Arial, Helvetica, sans-serif;
}

header h1 {

}

/* Style rules for navigation area */
nav {
background-color: #990000;
}

nav ul {
list-style-type: none;
text-align: center;
}
nav li {
display: block;
font-size: 2em;
border-top: 1px solid #e5e9fc;
}
nav li a {
display: block;
color: #fff;
text-align: center;
padding: 0.5em 1em;
text-decoration: none;
}

/* Style rules for main content */
main {
padding: 7%;
background-color: #cfcfcf;
overflow: auto;
font-family: Verdana, Arial, sans-serif;
}
main p {
font-size: 1.25em;
}
.action {
font-size: 1.25em.
color: #373684;
font-weight: bold;
}


/* Style rules for footer content */
footer {
text-align: center;
font-size: 0.65em;
clear: left;
background-color: #999999;
width: 100%
}
footer a {
color: black;
text-decoration: none;
}

/* Media Query for Tablet Viewport */
 @media screen and (min-width: 550px), print {
 }

 /* Tablet Viewport: Show tab-desk class, hide mobile class */
 .tab-desk {
 display: block;
 }
 .mobile {
 display: none;
 }
 /* Tablet Viewport: Style rule for header content */
 span.tab-desk {
 display: inline;
 }

 /* Tablet Viewport: Style rules for nav area */

nav li {
  border-top: none;
  display: inline-block;
  font-size: 1.5em;
  border-right: 1px solid #e5e9fc;

}

nav li:last-child{
  border-right: none;
}

nav li a{
  padding-top: .25em;
  padding-bottom: .25em;
  padding-right: .5em:
  padding-left: .5em:
}

/* Tablet Viewport: Style rule for map */

.map {
  width: 500px;
  height: 450;

}

/* Media Query for Desktop Viewport. */

@media screen and (min-width: 769px), print {
}

/* Desktop Viewport: Style rule for header. */

header{
  padding: .25%;

}


/* Desktop Viewport: Style rules for nav area.  */

nav li a {
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

nav li a:hover {

  background-color: #999999;
}

/* Desktop Viewport: Style rules for main content */



@media print {
}

.body{
  background color: #fff;
  color: #000;
}
