/*
Author: Joshua Abreu
Date: 3/7/21
File Name: styles.css
*/

/* CSS Reset */
body, header, nav, main, footer, img, h1, ul {
margin: 0;
padding: 0;
border: 0;
}

/* Style rule for images */
img {
max-width: 100%;
display: block;
}

/* Style rules for mobile viewport*/

/*Hide tab-desk class*/

.tab-desk {
 display: none;
 }

 .button {
   border: none;
   color: white;
   padding: 16px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   transition-duration: 0.4s;
   cursor: pointer;
 }
 .button a{
   text-decoration: none;
   color: white;
 }

 .button1 {
  background-color: #990000;
  color: white;
  border: 2px solid Black;
  text-decoration: none;
}

.button1:hover {
  background-color: #E6E6E6;
  text-decoration: none;
  color: white;
}

.column {
  float: left;
  width: auto;
  padding: 50px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.pm {
  padding: 7%;
  background-color: #cfcfcf;
  overflow: auto;
  font-family: Verdana, Arial, sans-serif;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Style rules for header content */
header {
  display: block;
overflow: auto;
text-align: center;
font-size: 1.5em;
font-family: 'Source Sans Pro', sans-serif;
background-color: #cfcfcf;


}

header h4 {
  font-family: 'Marck Script', Cursive;

}

/* Style rules for navigation area */
nav {
background-color: #990000;
}



nav ul {
list-style-type: none;
text-align: center;
}
nav li {
display: block;
font-size: 2em;
border-top: 1px solid #e5e9fc;
}
nav li a {
display: block;
color: #fff;
text-align: center;
padding: 0.5em 1em;
text-decoration: none;
}


/* Style rules for table */
table {
 border: 1px solid #373684;
 border-collapse: collapse;
 margin: 0 auto;
 width: 100%;
 }
 caption {
 font-size: 1.5em;
 font-weight: bold;
 padding: 1%;
 }
 th, td {
 border: 1px solid black;
 padding: 2%;
 }
 th {
 background-color: #990000;
 color: #fff;
 font-size: 1.15em;
}
tr:nth-child(odd) {
 background-color: #b35f5f;

 }

/* Style rules for main content */
main {

padding: 7%;
background-color: #cfcfcf;
overflow: auto;
font-family: Verdana, Arial, sans-serif;
}


main p {
font-size: 1.25em;
}

body{
position: relative;
overflow: auto;
}


body::after {
  content: '';
  display: block;
  height: 100px; /* Set same as footer's height */
}

.action {
font-size: 1.25em;
color: #373684;
font-weight: bold;
}

/* Style rules for form elements */

fieldset, input, textarea{
  margin-bottom: 2%;}
 fieldset legend{
   font-weight:bold;
font-size: 1.25em;}
 label{
   display:block;
   padding-top: 2%;
}
 #submit{ margin-top:0;
   margin-bottom:0;
   margin-left: auto;
   margin-right:auto;
   display: block;
   padding:2%;
   background-color: #990000;
   color: #f6eee4;
   font-size: 1.25em;
   border-radius:10px;}

   #submit:hover{
     color: white;
   }


/* Style rules for footer content */
footer {
text-align: center;

background-color: #999999;
width: 100%;

position: absolute;

   bottom: 0;
   width: 100%;

   color: white;
   text-align: center;
   height: 100px;
}
footer a {
color: white;
text-decoration: none;
}


/* Media Query for Tablet Viewport */
 @media screen and (min-width: 550px), print {


 /* Tablet Viewport: Show tab-desk class, hide mobile class */
 .tab-desk {
 display: block;
 }
 .mobile {
 display: none;
 }
 .column {

   width: auto;

 }
 /* Tablet Viewport: Style rule for header content */
 span.tab-desk {
 display: inline;
 }

 /* Tablet Viewport: Style rules for nav area */

nav li {
  border-top: none;
  display: inline-block;
  font-size: 1.5em;
  border-right: 1px solid #e5e9fc;

}

nav li:last-child{
  border-right: none;
}

nav li a{
  padding-top: .25em;
  padding-bottom: .25em;
  padding-right: .5em;
  padding-left: .5em;
  height: 50px;
}



}

/* Media Query for Desktop Viewport. */

@media screen and (min-width: 769px), print {


  .column {

    width: 33.33%;

  }

/* Desktop Viewport: Style rule for header. */



/* Desktop Viewport: Style rules for nav area.  */

nav li a {
  padding-top: 1.5em;
  padding-bottom: .5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  height: 50px;
}

nav li a:hover {

  background-color: #999999;
}



}

@media print {
}

.body{
  color: #000;
}
